<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/as/style.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
   

        <div class="container1">
                   <div class="kapsayici">
                    <h2>Umut Motora Hoşgeldiniz </h2>

                              <div class="video">
                                <video src="~/as/fotovevideo/motovideo.mp4" loop muted autoplay controls></video>
                              </div>

                              <div class="yazilar">
                                <h2>Burada Sizi Neler Bekliyor?</h2>
                                <img id="f1" src="~/as/fotovevideo/motor1.jpg" alt="">
                                <p id="p1">Güçlü motorlar ve endüstriyel ekipmanlar ile işlerinizi daha verimli hale getirin. <br> Yüksek kaliteli ve dayanıklı ürünlerimizle her tür sanayi ihtiyacınızı karşılıyoruz. <br> Güvenilir çözümlerimizle  üretkenliğinizi artırırken,<br>  uygun fiyatlarla en iyi performansı sağlıyoruz.  Şimdi ürünlerimizi keşfedin ve işinizi bir adım öteye taşıyın.</p>
                                <img id="f2" src="~/as/fotovevideo/ekipman1.webp" alt="">
                                <p id="p2">Endüstriyel ekipmanlarla iş süreçlerinizi hızlandırın ve verimliliğinizi artırın. <br> Yüksek kaliteli makineler ve ekipmanlar ile her türlü sanayi ihtiyacınıza çözüm sunuyoruz. <br> Güvenilir ve dayanıklı ürünlerimizle işinizi kolaylaştırırken,<br> sektördeki en iyi fiyatları sunuyoruz. Şimdi ekipmanlarımızı keşfedin ve işletmenizi bir üst seviyeye taşıyın.</p>
                              </div>
                   </div>
        </div>


        <div class="container2">
            <div class="kapsayici">
                         <h2>Favori Motorlarımız</h2>


                <div class="card-wrapper">
                    <ul class="card-list">
                         <li class="card-item">
                            <a href="#" class="card-link">
                                <img src="~/as/fotovevideo/mt7.jpg" alt="Card Image" class="card-image">
                                <div class="kps">
                                <p class="badge mt7">MT 07</p>
                                
                            </div>
                                
                                
                            </a>
                        </li>
                        <li class="card-item">
                            <a href="#" class="card-link">
                                <img src="~/as/fotovevideo/honda-pcx-160-2022.jpg" alt="Card Image" class="card-image">
                                <div class="kps">
                                <p class="badge pcx">PCX</p>
                                
                            </div>
                                
                                
                            </a>
                        </li>
                        <li class="card-item">
                            <a href="#" class="card-link">
                                <img src="~/as/fotovevideo/honda-5230398_640.jpg" alt="Card Image" class="card-image">
                                <div class="kps">
                                <p class="badge hornet">750 HORNET</p>
                                
                            </div>
                                
                                
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="container3">
            <div class="kapsayici">
                         <h2>Favori Ekipmanlarımız</h2>


                <div class="card-wrapper">
                    <ul class="card-list2">
                         <li class="card-item2">
                            <a href="#" class="card-link2">
                                <img src="~/as/fotovevideo/ceket1..jpg" alt="Card Image" class="card-image2">
                                <div class="kps">
                                <p class="badge mt7">MAGIDEAL SUNTEK</p>
                                
                            </div>
                                
                                
                            </a>
                        </li>
                        <li class="card-item2">
                            <a href="#" class="card-link2">
                                <img src="~/as/fotovevideo/kask9..jpg" alt="Card Image" class="card-image2">
                                <div class="kps">
                                <p class="badge pcx">MT Thunder 4SV</p>
                                
                            </div>
                                
                                
                            </a>
                        </li>
                        <li class="card-item2">
                            <a href="#" class="card-link2">
                                <img src="~/as/fotovevideo/eldiven6..jpg" alt="Card Image" class="card-image2">
                                <div class="kps">
                                <p class="badge hornet">TCHERCHİ ELDİVEN</p>
                                
                            </div>
                                
                                
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <p id="p3">Bunun gibi daha fazla motor ve ekipman görmek istiyorsanız ilgili butonlara tıklayabilirsiniz.</p>
        
        <div class="butonlar">

        <a asp-controller="Proje" asp-action="SatilikMotorlar"><button> Motorlar</button></a>
        <a asp-controller="Proje" asp-action="SatilikEkipmanlar"><button> Ekipmanlar</></button></a>


        </div>


        <div class="container4">
            <h2>Hizmetlerimiz</h2>
            <div class="yazilar">
                <h2>Motor Tamir ve Bakım Hizmetlerimiz</h2>
                <img id="f8" src="~/as/fotovevideo/motor2.png" alt="">
                <p id="p8">Motorlarınızın uzun ömürlü ve verimli çalışmasını sağlamak için profesyonel bakım ve onarım hizmetleri sunuyoruz. Deneyimli teknisyenlerimiz, motorlarınızdaki olası arızaları hızlı bir şekilde tespit eder ve çözüm üretir. Düzenli bakım ile motorlarınızın performansını artırır, arızaların önüne geçer ve işletmenizin kesintisiz çalışmasını sağlarız. Güvenilir, kaliteli ve zamanında hizmet anlayışımızla motorlarınız her zaman en iyi durumda kalır.</p>
                <h2>Güvenilir ve Güleryüzlü Çalışanlarımız</h2>
                <img id="f9" src="~/as/fotovevideo/motor3.png" alt="">
                <p id="p9">"Ekibimiz, müşteri memnuniyetini ön planda tutarak güvenilir ve profesyonel hizmet sunar. Alanında deneyimli, güleryüzlü ve çözüm odaklı çalışanlarımız, her zaman size en iyi hizmeti sunmak için hazırdır. İhtiyaçlarınızı anlayarak, doğru ve hızlı çözümlerle yanınızda oluruz. Sizin için her zaman ulaşılabiliriz ve güvenilir bir iş ortağı olarak, her aşamada sizi destekleriz.</p>
              </div>

        </div>


        <div class="container5">
            <div class="kapsayici">
                      <h2>Bizimle Tanışın ve Hakkımızda Daha Fazla Bilgi Edinin</h2>
                      <p id="p10">Yılların deneyimi ve profesyonellik ile sektördeki yerimizi sağlamlaştırdık. Müşteri memnuniyetini ön planda tutarak, kaliteli ürünler ve güvenilir hizmetler sunuyoruz. Hakkımızda daha fazla bilgi edinmek ve sunduğumuz çözümlerle işinizi nasıl kolaylaştırabileceğimizi öğrenmek için bizimle tanışın. Ekibimiz, her zaman size yardımcı olmaktan mutluluk duyar.</p>  
                      <a asp-controller="Proje" asp-action="Hakkimizda"><button id="btn1">Hakkımızda</button></a>

            </div>
        </div>
        
        



</body>
</html>