@model List< Umutcan_Gungor_241103013.Models.UserVM>

@{
    ViewData["Title"] = "Başvuru Sonucu";
}

<div style="height:500px; text-align:center; margin-bottom:15rem; margin-top:10rem; background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
padding:15px;">
<h2 >BAŞVURUNUZ BAŞARILI BİR ŞEKİLDE  ALINMIŞTIR.</h2>

@foreach(var item in  Model){
    
       <label>Ad Soyad</label><br />    @item.AdSoyad  <br /> <br />
        <label>Eposta </label> <br />   @item.Eposta  <br />  <br />
         <label>Telefon </label><br />   @item.Telefon  <br /> <br />
        <label>Mesaj </label><br />  @item.Mesaj  <br />  <br /> 
}

</div>

<style>
label{
    font-size:18px;
    

}
h2{
   position:relative;
   font-size:30px;
   margin-top: 5rem;
   margin-bottom: 2rem;
}
</style>