
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/web-about/CSS/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/web-about/bt-css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>


</head>

<body>
    <div class="container1">
        <div class="kapsayici">
            <br>
            <h1>
                Motor Dünyasına Hoş Geldiniz
            </h1>
            <p style="width: 800px;margin-left: 23%;">
                Motor tutkunları için en kapsamlı kaynak olmayı hedefliyoruz. Amacımız, her seviyeden sürücüye hitap eden yüksek kaliteli motor ürünleri, aksesuarlar ve bilgiler sunmak. Yenilikçi tasarımlar, güvenli sürüş ekipmanları ve sektördeki en son gelişmeleri takip ederek, motor dünyasında ihtiyaç duyduğunuz her şeyi tek bir platformda topluyoruz. İster profesyonel bir yarışçı olun, ister günlük kullanım için bir motor arayışında, size en uygun çözümleri sunmak için buradayız.
            </p>
            <div class="imgler">
                <div class="img1">

                    <img src="~/web-about/fotos3/motorbike-7249769_640.jpg" alt="Alternate Text" />
                    <div class="yz1">
                        <h2>Harika Motorlar</h2>
                        <p style="width: 500px; margin-left: 5%;">Hayalinizdeki motoru bulmak hiç bu kadar kolay olmamıştı! Farklı ihtiyaçlara ve sürüş tarzlarına uygun, yüksek performanslı motorları keşfedin. Hız, konfor ve tasarımın mükemmel birleşimiyle sürüş keyfinizi bir üst seviyeye taşıyın.</p>
                    </div>

                </div>
                <div class="img2">

                    <img src="~/web-about/fotos3/dirt-bike-330815_640.jpg" />
                    <div class="yz2">
                        <h2>Nostalji Motorlar</h2>
                        <p style="width: 500px; margin-left: 5%;">Geçmişin izlerini sürmek ve nostaljik bir sürüş deneyimi yaşamak isteyenler için unutulmaz motorlar burada! Klasik tasarımlar ve güçlü karakterleriyle, geçmişin ruhunu bugünle buluşturuyoruz. Her bir model, motor tutkunları için birer zaman yolculuğu.</p>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <div class="container2">
        <div class="kps2">
            <h1 id="hh1" style="font-size: 50px;">Özel Fırsatlar</h1>
            <div class="foto-msg">
                <div class="msg">
                    <h1>12 Ay Sıfır Vade Motor Alma İmkanı</h1>
                    <p id="p1">5.000/ay ₺ den Başlayan Fiyatlarla</p>
                    <p id="p2">Hayalinizdeki motoru hemen şimdi almanın tam zamanı! 12 ay 0 vade ile ödeme kolaylığı sunuyoruz. Artık bütçenizi zorlamadan, istediğiniz motoru seçip sürüş keyfini doyasıya yaşayabilirsiniz. Hızlı ve kolay ödeme seçenekleriyle, motor dünyasına adım atmak çok daha erişilebilir. </p>
                    <a asp-controller="Proje" asp-action="Deneme"><button id="bt3">Bu Fırsatı Yakala</button></a>

                </div>
                <div class="foto">
                    <img src="~/web-about/fotos3/biker-407123_640.jpg" alt="">
                </div>
            </div>
        </div>
    </div>


    <div class="container3">
        <div class="kps3">
            <h1>Müşterilerimiz</h1>
            <div class="cards">
                <div class="card1">
                    <img src="~/web-about/fotos3/blank-profile-picture-973460_640 (1).png" alt="">
                    <h3>Ahmet K.</h3>
                    <p class="alt-yazi">Motor Müşterisi</p>
                    <p>"Hayal ettiğim motoru 12 ay 0 vade fırsatıyla aldım. Ödeme kolaylığı sayesinde bütçemi hiç zorlamadım. Teşekkürler!"</p>

                </div>

                <div class="card2">
                    <img src="~/web-about/fotos3/blank-profile-picture-973460_640 (1).png" alt="">
                    <h3>Büşra T.</h3>
                    <p class="alt-yazi">Motor Müşterisi</p>
                    <p>"Nostalji motorları keşfettiğimde geçmişe dönüp bir yolculuk yaptım. Hem keyifli hem de güvenli bir sürüş deneyimi sundular."</p>

                </div>

                <div class="card3">
                    <img src="~/web-about/fotos3/blank-profile-picture-973460_640 (1).png" alt="">
                    <h3>Emre Y.</h3>
                    <p class="alt-yazi">Motor Müşterisi</p>
                    <p>
                        "Yüksek performanslı motorları bulmak hiç bu kadar kolay olmamıştı. Sürüşümde farkı hemen hissettim!"

                    </p>

                </div>
            </div>
        </div>
    </div>

    <div class="container4">
        <div class="yazilarrrr">
            <div class="baslik">
                <h1>5+</h1>
                <h1>558 </h1>
                <h1>50+</h1>
                <h1>45</h1>

            </div>
            <div class="metins">
                <p>Yılların Deneyimi</p>
                <p>Güvenilir Müşteriler</p>
                <p>Satılık Motorlar</p>
                <p>Müşterilere Ait Motorlar</p>

            </div>
        </div>
    </div>


    <div class="container5">
        <h1>Mağzamız Hakkında Daha Fazla Bilgi Edinmek İstiyorsanız <br> Bizimle iletişime  Geçiniz.</h1>
        <div class="buttons">

             <a asp-controller="Proje" asp-action="Deneme"><button id="bt1">Bize Ulaşın</button></a>
             <a href="#"><button id="bt2">Devamını Oku</button></a>
        </div>
    </div>



</body>
</html>