
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/web-contact/CSS/style.css" rel="stylesheet" />
    <link href="~/web-contact/bt-css/bootstrap.min.css" rel="stylesheet" />
    @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"> *@
</head>
<body>
    <div class="container">
        <div class="kapsayici">
            <h1>Bizimle İletişime Geçin</h1>

            <div class="yazi-kps1">
                <h3>Sizin İçin Burdayız</h3>
                <p>Motor konusundan bir yana sohbet etmeye ve çay içmeye sizleri bekleriz .</p>

            </div>
            <div class="yazi-kps2">
                <i class="fa-regular fa-envelope"></i> <a href="mailto:hello@mail.com"><p>gzlumut35@gmail.com</p> </a>
                <i class="fa-solid fa-phone"></i>     <a href="tel:+(21)-255-999-8888"><p>+90 553 736 75 50</p> </a>
                <i class="fa-solid fa-location-dot"></i> <p>Umut Motor,Türkiye</p>
                <p> Güller Pınarı, İmamdayı Sk. no:15/C, 07400 Alanya/Antalya, TR.</p>
            </div>
            <div class="yazi-kps3">
                <h3>Bizi Takip Edin</h3>
                <div class="icons">
                    <div class="fcb"><a href="#facebook"><i class="fa-brands fa-facebook"></i></a></div>
                    <div class="tw"><a href="#twitter"><i class="fa-brands fa-square-x-twitter"></i></a></div>
                    <div class="lnk"><a href="#linkedin"><i class="fa-brands fa-linkedin"></i></a></div>
                    <div class="ig"><a href="#instagram"><i class="fa-brands fa-instagram"></i></a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container2">
        <h1>
            Gelmenizi İsteriz
        </h1>
        <p>Yüzyüze görüşme için alttaki alanları doldurup kayıt oluşturabilirsiniz.</p>

        
            <div class="t3">
                <input required type="text" name="adsoyad" placeholder="Adınız Soyadınız" title="Lütfen bu alanı doldurun.">
                <input required type="email" name="email" placeholder="Mail Adresiniz" title="Lütfen bu alanı doldurun.">
                <input required type="tel" name="telefon" placeholder="Numaranız" title="Lütfen bu alanı doldurun.">

            </div>
            <textarea name="mesaj" placeholder="İsteğe Bağlı Mesajınız" title="Lütfen bu alanı doldurun."></textarea> <br>
            <button type="submit">Gönder</button>

        


    </div>


</body>
</html>
