
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/web-ekipman/CSS/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=arrow_forward" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="card-wrapper">
            <ul class="card-list">
                <li class="card-item">
                    <a href="#" class="card-link">
                        <img src="~/web-ekipman/fotos/kask12.jpg" alt="Card Image" class="card-image">

                        <div class="kps">
                            <p class="badge dev">MTV Yarım Kask</p>
                            <p class="badge dev1">600 ₺</p>
                        </div>

                        <h2 class="card-title">Gri renkte scooter kaskıdır her ebata uygun vardır. Detaylı bilgi için iletişime geçiniz.</h2>
                        <button class="card-button material-symbols-outlined">arrow_forward</button>
                    </a>
                </li>
                <li class="card-item">
                    <a href="#" class="card-link">
                        <img src="~/web-ekipman/fotos/kask11.jpg" alt="Card Image" class="card-image">
                        <div class="kps">
                            <p class="badge ern5">AURORA Yarım Kask</p>
                            <p class="badge ern">1000 ₺</p>
                        </div>
                        <h2 class="card-title">Yıkanabilir scooter kaskı her ebata uygun vardır. Detaylı bilgi için iletişime geçiniz.</h2>
                        <button class="card-button material-symbols-outlined">arrow_forward</button>
                    </a>
                </li>
                <li class="card-item">
                    <a href="#" class="card-link">
                        <img src="~/web-ekipman/fotos/kask8..jpg" alt="Card Image" class="card-image">
                        <div class="kps">
                            <p class="badge cross">MDSJ Kapalı Kask</p>
                            <p class="badge cros">1.500 ₺</p>
                        </div>
                        <h2 class="card-title">Bütçe dostu bir kasktır her ebata uygun vardır. Detaylı bilgi için iletişime geçiniz.</h2>
                        <button class="card-button material-symbols-outlined">arrow_forward</button>
                    </a>
                </li>
                <li class="card-item">
                    <a href="#" class="card-link">
                        <img src="~/web-ekipman/fotos/kask1.jpg" alt="Card Image" class="card-image">
                        <div class="kps">
                            <p class="badge hornet">TCHERCHI Kapalı Kask</p>
                            <p class="badge horne">2.500 ₺</p>
                        </div>
                        <h2 class="card-title">F/P ve şık tasarımlı harika ve oldukça rahat bir kasktır her ebata uygun vardır. Detaylı bilgi için iletişime geçiniz.</h2>
                        <button class="card-button material-symbols-outlined">arrow_forward</button>
                    </a>
                </li>
                <li class="card-item">
                    <a href="#" class="card-link">
                        <img src="~/web-ekipman/fotos/kask3..jpg" alt="Card Image" class="card-image">
                        <div class="kps">
                            <p class="badge tnt">NCR Stars Çene Açılır Kask</p>
                            <p class="badge tn">3.000 ₺</p>
                        </div>
                        <h2 class="card-title">İdeal ve normalin üstünde sağlamlıktadır her ebata uygun vardır. Detaylı bilgi için iletişime geçiniz.</h2>
                        <button class="card-button material-symbols-outlined">arrow_forward</button>
                    </a>
                </li>
                <li class="card-item">
                    <a href="#" class="card-link">
                        <img src="~/web-ekipman/fotos/kask4..jpg" alt="Card Image" class="card-image">
                        <div class="kps">
                            <p class="badge cbr">MT Breaker C7 Kapalı Kask</p>
                            <p class="badge cb">4.200 ₺</p>
                        </div>
                        <h2 class="card-title">Bu fiyata hem tasarımı hem sağlamlığı adına F/P ürünüdür her ebata uygun vardır. Detaylı bilgi için iletişime geçiniz.</h2>
                        <button class="card-button material-symbols-outlined">arrow_forward</button>
                    </a>
                </li>
                <li class="card-item">
                    <a href="#" class="card-link">
                        <img src="~/web-ekipman/fotos/kask6..jpg" class="card-image">
                        <div class="kps">
                            <p class="badge cg">SWAY 726X Full Face Kask</p>
                            <p class="badge c">4.800 ₺</p>
                        </div>
                        <h2 class="card-title">Ekstra havalandırmalı güzel bir kask her ebata uygun vardır. Detaylı bilgi için iletişime geçiniz.</h2>
                        <button class="card-button material-symbols-outlined">arrow_forward</button>
                    </a>
                </li>
                <li class="card-item">
                    <a href="#" class="card-link">

                        <img src="~/web-ekipman/fotos/kask5..jpg" class="card-image">
                        <div class="kps">
                            <p class="badge gt650">SMK Steller MT Kapalı Kask</p>
                            <p class="badge gt65">5.400 ₺</p>
                        </div>
                        <h2 class="card-title">İşinizi görecek tarzda ve sağlam bir kasktır her ebata uygun vardır. Detaylı bilgi için iletişime geçiniz.</h2>
                        <button class="card-button material-symbols-outlined">arrow_forward</button>
                    </a>
                </li>
                <li class="card-item">
                    <a href="#" class="card-link">

                        <img src="~/web-ekipman/fotos/kask7..jpg" class="card-image">
                        <div class="kps">
                            <p class="badge ktm">SCORPIN EXO 391 Kapalı Kask</p>
                            <p class="badge kt">6.000 ₺</p>
                        </div>
                        <h2 class="card-title">Parlak vizörlü güzel tasarımlı bir kasktır her ebata uygun vardır. Detaylı bilgi için iletişime geçiniz.</h2>
                        <button class="card-button material-symbols-outlined">arrow_forward</button>
                    </a>
                </li>
                <li class="card-item">
                    <a href="#" class="card-link">

                        <img src="~/web-ekipman/fotos/kask9..jpg" class="card-image">
                        <div class="kps">
                            <p class="badge mt7">MT Thunder 4SV Kapalı Kask</p>
                            <p class="badge mt">7.000 ₺</p>
                        </div>
                        <h2 class="card-title">Bu fiyata alıncabilecek en iyi kasktır ve oldukça rahattır  her ebata uygun vardır . Detaylı bilgi için iletişime geçiniz.</h2>
                        <button class="card-button material-symbols-outlined">arrow_forward</button>
                    </a>
                </li>
                <li class="card-item">
                    <a href="#" class="card-link">

                        <img src="~/web-ekipman/fotos/kask2..jpg" class="card-image">
                        <div class="kps">
                            <p class="badge ns200">SCORPION EXO COMBAT </p>
                            <p class="badge ns20">10.000 ₺</p>
                        </div>
                        <h2 class="card-title">Sağlamlık açısından üst düzeyde yer alan bir kasktır her ebata uygun vardır. Detaylı bilgi için iletişime geçiniz.</h2>
                        <button class="card-button material-symbols-outlined">arrow_forward</button>
                    </a>
                </li>
                <li class="card-item">
                    <a href="#" class="card-link">

                        <img src="~/web-ekipman/fotos/kask10.jpg" class="card-image">
                        <div class="kps">
                            <p class="badge pcx">LS2 MULTI SR4 Kapalı Kask</p>
                            <p class="badge pc">11.000 ₺</p>
                        </div>

                        <h2 class="card-title">Tasarımdan yana satılan diğer kasklardan daha sağlam  ve rahat bir kasktır her ebata uygun vardır. Detaylı bilgi için iletişime geçiniz.</h2>
                        <button class="card-button material-symbols-outlined">arrow_forward</button>
                    </a>
                </li>
                <li class="card-item">
                    <a href="#" class="card-link">
                        <img src="~/web-ekipman/fotos/eldiven4..jpg" class="card-image" />
                        <div class="kps">
                            <p class="badge racer">SCOYCO MX14</p>
                            <p class="badge race">600 ₺</p>
                        </div>
                        <h2 class="card-title">Ucuz yollu işinizi görecek bir üründür. Detaylı bilgi için iletişime geçiniz.</h2>
                        <button class="card-button material-symbols-outlined">arrow_forward</button>
                    </a>
                </li>
                <li class="card-item">
                    <a href="#" class="card-link">
                        <img src="~/web-ekipman/fotos/eldiven2.jpg" class="card-image" />
                        <div class="kps">
                            <p class="badge xj6">FOX N4</p>
                            <p class="badge xj">800 ₺</p>
                        </div>
                        <h2 class="card-title">Ucuz ve biraz daha rahat bir üründür. Detaylı bilgi için iletişime geçiniz.</h2>
                        <button class="card-button material-symbols-outlined">arrow_forward</button>
                    </a>
                </li>
                <li class="card-item">
                    <a href="#" class="card-link">
                        <img src="~/web-ekipman/fotos/eldiven5..jpg" class="card-image" />
                        <div class="kps">
                            <p class="badge zx1400">KNOX BAO</p>
                            <p class="badge zx140">1.500 ₺</p>
                        </div>

                        <h2 class="card-title">F/P ürünüdür rüzgar geçirmez ve elinizi sıcak tutar. Detaylı bilgi için iletişime geçiniz.</h2>
                        <button class="card-button material-symbols-outlined">arrow_forward</button>
                    </a>
                </li>
                <li class="card-item">
                    <a href="#" class="card-link">
                        <img src="~/web-ekipman/fotos/eldiven1..jpg" class="card-image" />
                        <div class="kps">
                            <p style="color:#856404 ;
    background-color:#fff3cd ;" class="badge zx1400">SCOYCO SPORTS</p>
                            <p class="badge zx140">1.700 ₺</p>
                        </div>

                        <h2 class="card-title">İyi koruma sağlar ve rahat bir üründür. Detaylı bilgi için iletişime geçiniz.</h2>
                        <button class="card-button material-symbols-outlined">arrow_forward</button>
                    </a>
                </li>
                <li class="card-item">
                    <a href="#" class="card-link">
                        <img src="~/web-ekipman/fotos/eldiven6..jpg" class="card-image" />
                        <div class="kps">
                            <p style="color: #b22485;
background-color:#f7dff5 ;" class="badge zx1400">TCHERCHİ</p>
                            <p class="badge zx140">2.500 ₺</p>
                        </div>

                        <h2 class="card-title">Tam koruma ve güzel tasarımıyla dikkat çeken bir üründür. Detaylı bilgi için iletişime geçiniz.</h2>
                        <button class="card-button material-symbols-outlined">arrow_forward</button>
                    </a>
                </li>
                <li class="card-item">
                    <a href="#" class="card-link">
                        <img src="~/web-ekipman/fotos/eldiven3..jpg" class="card-image" />
                        <div class="kps">
                            <p style=" color:#b25A2B ;
    background-color: #ffe3d2;" class="badge zx1400">VENOM VNP-600</p>
                            <p class="badge zx140">3.100 ₺</p>
                        </div>

                        <h2 class="card-title">Kışlık, soğuk geçirmez ve oldukça kaliteli bir üründür. Detaylı bilgi için iletişime geçiniz.</h2>
                        <button class="card-button material-symbols-outlined">arrow_forward</button>
                    </a>
                </li>
                <li class="card-item">
                    <a href="#" class="card-link">
                        <img src="~/web-ekipman/fotos/edliven5..jpg" class="card-image" />
                        <div class="kps">
                            <p class="badge zx1400">KNOX HANDROİD MK5</p>
                            <p class="badge zx140">4.500₺</p>
                        </div>

                        <h2 class="card-title">Bilek korumalı çok sağlam bir üründür. Detaylı bilgi için iletişime geçiniz.</h2>
                        <button class="card-button material-symbols-outlined">arrow_forward</button>
                    </a>
                </li>

                <li class="card-item">
                    <a href="#" class="card-link">
                        <img src="~/web-ekipman/fotos/dizlik2..jpg" class="card-image" />
                        <div class="kps">
                            <p style="color:#856404 ;
    background-color:#fff3cd ;" class="badge zx1400">FORTE GT DİZLİK</p>
                            <p class="badge zx140">1.000 ₺</p>
                        </div>

                        <h2 class="card-title">Diz kapağı korumalı F/P  ve işinizi görecek bir üründür. Detaylı bilgi için iletişime geçiniz.</h2>
                        <button class="card-button material-symbols-outlined">arrow_forward</button>
                    </a>
                </li>
                <li class="card-item">
                    <a href="#" class="card-link">
                        <img src="~/web-ekipman/fotos/dİzlİk3..jpg" class="card-image" />
                        <div class="kps">
                            <p style="color: #b22485;
background-color:#f7dff5 ;" class="badge zx1400">SCOYCO K26 DİZLİK</p>
                            <p class="badge zx140">1.750 ₺</p>
                        </div>

                        <h2 class="card-title">Diz kapagı ve ön bacağı koruyan harika bir üründür. Detaylı bilgi için iletişime geçiniz.</h2>
                        <button class="card-button material-symbols-outlined">arrow_forward</button>
                    </a>
                </li>
                <li class="card-item">
                    <a href="#" class="card-link">
                        <img src="~/web-ekipman/fotos/ceket4..jpg" class="card-image" />
                        <div class="kps">
                            <p style=" color:#b25A2B ;
    background-color: #ffe3d2;" class="badge zx1400">HONDA RC CEKET</p>
                            <p class="badge zx140">1.500 ₺</p>
                        </div>

                        <h2 class="card-title">Ucuz , şık tasarımlı ve uygun kalitede bir cekettir. Detaylı bilgi için iletişime geçiniz.</h2>
                        <button class="card-button material-symbols-outlined">arrow_forward</button>
                    </a>
                </li>
                <li class="card-item">
                    <a href="#" class="card-link">
                        <img src="~/web-ekipman/fotos/ceket6..jpg" class="card-image" />
                        <div class="kps">
                            <p style=" color: #205c20;
    background-color: #d6f8d6;" class="badge zx1400">X SPEED 4M CEKET</p>
                            <p class="badge zx140">2.400 ₺</p>
                        </div>

                        <h2 class="card-title">F/P ,terletmez ve rahat tutan bir  cekettir. Detaylı bilgi için iletişime geçiniz.</h2>
                        <button class="card-button material-symbols-outlined">arrow_forward</button>
                    </a>
                </li>
                <li class="card-item">
                    <a href="#" class="card-link">
                        <img src="~/web-ekipman/fotos/ceket1..jpg" class="card-image" />
                        <div class="kps">
                            <p style=" color:#856404 ;
                        background-color:#fff3cd ;
                    " class="badge zx1400">MAGIDEAL SUNTEK CEKET</p>
                            <p class="badge zx140">3.600 ₺</p>
                        </div>

                        <h2 class="card-title">Tasarımı ve koruması sağlam bir cekettir. Detaylı bilgi için iletişime geçiniz.</h2>
                        <button class="card-button material-symbols-outlined">arrow_forward</button>
                    </a>
                </li>
                <li class="card-item">
                    <a href="#" class="card-link">
                        <img src="~/web-ekipman/fotos/ceket7..jpg" class="card-image" />
                        <div class="kps">
                            <p style=" color: #b22485;
background-color:#f7dff5 ;" class="badge zx1400">NUKROWEAR CEKET</p>
                            <p class="badge zx140">4.700 ₺</p>
                        </div>

                        <h2 class="card-title">Hem hafif hem sağlam ve bir o kadarda rahat bir üründür. Detaylı bilgi için iletişime geçiniz.</h2>
                        <button class="card-button material-symbols-outlined">arrow_forward</button>
                    </a>
                </li>
                <li class="card-item">
                    <a href="#" class="card-link">
                        <img src="~/web-ekipman/fotos/ceket 2.jpg" class="card-image" />
                        <div class="kps">
                            <p style=" color:#b25A2B ;
    background-color: #ffe3d2;" class="badge zx1400">PROSEV FALCON CEKET</p>
                            <p class="badge zx140">5.300 ₺</p>
                        </div>

                        <h2 class="card-title">Rüzgar geçirmez içindeki ürünü sağlam bir cekettir. Detaylı bilgi için iletişime geçiniz.</h2>
                        <button class="card-button material-symbols-outlined">arrow_forward</button>
                    </a>
                </li>

                <li class="card-item">
                    <a href="#" class="card-link">
                        <img src="~/web-ekipman/fotos/ceket5..jpg" class="card-image" />
                        <div class="kps">
                            <p style=" color: #205c20;
    background-color: #d6f8d6;" class="badge zx1400">YOSICHI DUAN CEKET</p>
                            <p class="badge zx140">6.800 ₺</p>
                        </div>

                        <h2 class="card-title">Tam korumalı ve üst düzey kalitede bir cekettir. Detaylı bilgi için iletişime geçiniz.</h2>
                        <button class="card-button material-symbols-outlined">arrow_forward</button>
                    </a>
                </li>
                <li class="card-item">
                    <a href="#" class="card-link">
                        <img src="~/web-ekipman/fotos/ceket3..jpg" class="card-image" />
                        <div class="kps">
                            <p style=" color:#856404 ;
    background-color:#fff3cd ;" class="badge zx1400">YOSICHI DUAN TAM KORUYUCU</p>
                            <p class="badge zx140">10.000 ₺</p>
                        </div>

                        <h2 class="card-title">Beyaz tasarımlı sağlam ve harika bir takımdır. Detaylı bilgi için iletişime geçiniz.</h2>
                        <button class="card-button material-symbols-outlined">arrow_forward</button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>